<link rel="stylesheet" type="text/css" href="styles/modules/page-toast.css">

<div class="gm-push" id="page-div-toast" >
    <div class="push-wrapper">
        <section class="push-alert">
            <div class="push-message">
                <img class="TWC-logo"  height="50" width="50"
                     alt="The Weather Channel Logo" title="The Weather Channel Logo">
                <div class="push-content" >
                    <div onclick="toastClicked()">
                        <span class="alert-text">Get browser notifications for severe weather in your area. Activate Now</span>
                        <span class="wx-iconfont-global wx-icon-arrow-right-4 alert-arrow"></span>
                    </div>
                </div>
            </div>
            <button style="width: 20px; height: 20px; background-color: blue" onclick="closeToast()">
                <span> x </span>
            </button>
        </section>

    </div>
</div>

<!--&lt;!&ndash; Web Push Notification&ndash;&gt;-->
<!--<div id="page-div-toast" class="gm-push" style="max-height: 0; height: 200px; opacity: 0; width: 100%;transition: max-height 0.4s ease 0s; background-color: red; ">-->
    <!--<div class="push-wrapper">-->
        <!--<section class="push-alert">-->
            <!--<div class="push-message">-->
                <!--<img class="TWC-logo"  height="50" width="50"-->
                     <!--alt="The Weather Channel Logo" title="The Weather Channel Logo">-->
                <!--<div class="push-content" >-->
                    <!--<div>-->
                        <!--<span class="alert-text">Get browser notifications for severe weather in your area. Activate Now</span>-->
                        <!--<span class="wx-iconfont-global wx-icon-arrow-right-4 alert-arrow"></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    <!--</div>-->
<!--</div>&lt;!&ndash; End of: Web Push Notification&ndash;&gt;-->