<!--<div id="page-div-toast" style="max-height: 0; height: 200px; opacity: 0; width: 100%;transition: max-height 0.4s ease 0s; background-color: red; ">-->
    <!--<button style="width: 20px; height: 20px; background-color: blue" onclick="closeToast()">-->
        <!--<span> x </span>-->
    <!--</button>-->
<!--</div>-->
<link rel="stylesheet" type="text/css" href="styles/modules/page-toast.css">
<!-- Web Push Notification-->
<div class="gm-push">
    <div class="push-wrapper">
        <section class="push-alert">
            <div class="push-message">
                <img class="TWC-logo"  height="50" width="50"
                     alt="The Weather Channel Logo" title="The Weather Channel Logo">
                <div class="push-content" >
                    <div>
                        <span class="alert-text">Get browser notifications for severe weather in your area. Activate Now</span>
                        <span class="wx-iconfont-global wx-icon-arrow-right-4 alert-arrow"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div><!-- End of: Web Push Notification-->