<link rel="stylesheet" type="text/css" href="templates/components/vertical-wx-row/vertical-wx-row.css">
<link rel="stylesheet" type="text/css" href="styles/modules/hourly-forecast.css">


<div id="vertical-wx-row-div">

<section class="ls-hourly-wwir" data-ng-if="::lsHourlyVm.showWWIR">
  <!-- <span data-wxicon data-vector-optimized="true" data-sky-code="::lsHourlyVm.iconClass"></span> -->
  <!-- TODO: Update logic to use rain or snow icon from above directive -->
  <span aria-hidden="true" class="wwir-icon wx-iconfont-global {{::lsHourlyVm.iconClass}}"></span>
  <p class="wwir-data">
    <span class="wwir-phrase" data-ng-bind="::lsHourlyVm.textPhrase"></span>
    <span class="wwir-time" data-ng-bind="::lsHourlyVm.timePhrase"></span>
  </p>
</section>

<article class="ls-hourly-wrap twc-table-wrap" data-ng-cloak>
  <div id="twc-scrollable" class="twc-table-scroller">
    <table class="twc-table">
      <thead>
        <tr>
          <th class="twc-sticky-col" id="time" scope="col">Time</th>
          <th class="description" id="description" scope="col">Description</th>
          <th id="temp" scope="col">Temp</th>
          <th id="feels" scope="col">Feels</th>
          <th id="precip" scope="col">Precip</th>
          <th id="humidity" scope="col">Humidity</th>
          <th id="wind" scope="col">Wind</th>
        </tr>
      </thead>
      <tbody class="ls-row-wrap">


<!-- TEST Row till we get the data in here.  -->

<!--         <tr>
          <td class="twc-sticky-col" headers="time">
            <span class="time-detail">1:00 pm</span>
            <span data-gm-wx-alert-badge="::hour.iconExtended"></span>
            <span data-wxicon data-sky-code="::hour.icon"></span>
            <span
              data-dsxdate
              data-datetime="::hour.processTime" data-timezone="::locTz" class="day-detail clearfix"
              data-format="::'EEE, MMM d' | pfTranslate: {context: 'weather_dateformats'}"></span>
              <div class="twc-table-shadow sticky"></div>
          </td>
          <td headers="description" class="description">
            <p>Partly Cloudy</p>
          </td>
          <td headers="temp" class="temp">
            <span>85</span>&deg;
          </td>
          <td headers="feels" class="feels">
            <span>79</span>&deg;
          </td>
          <td headers="precip" class="precip">
            <span aria-hidden="true" class="wx-iconfont-global wx-icon-precip-rain-1"></span>
            <span>20</span>%
          </td>
          <td headers="humidity" class="humidity">
            <span>69</span>%
          </td>
          <td headers="wind" class="wind">
            <span>WNW 7mph</span>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="twc-table-shadow"></div>


 </article>
  <div class="ls-hourly-control">
    <a href="" class="ls-hourly-btn"
      data-ng-if="lsHourlyVm.canNextHourly"
      data-ng-click="::lsHourlyVm.loadMoreHourly()"
      data-track-str="{{::lsHourlyVm.moduleId}}_next">
      <span class="hourly-text" data-ng-bind="::'Next 8 Hours' | pfTranslate: {context: 'weather_terms'}"></span>
      <span aria-hidden="true" class="wx-iconfont-global wx-icon-arrow-down-5 hourly-down-arrow"></span>
    </a>
    <a class="ls-hourly-btn"
      data-ng-if="!lsHourlyVm.canNextHourly"
      data-ng-href="{{::lsHourlyVm.tendayLink}}"
      data-from-str="{{::lsHourlyVm.moduleId}}_moreHourly-10Day">
      <span class="hourly-text" data-ng-bind="::'10 Day Forecast' | pfTranslate: {context: 'weather_terms'}"></span>
      <span class="wx-iconfont-global wx-icon-arrow-right hourly-right-arrow"></span>
    </a>
  </div>

</div>
