
<div class="nowcard">
    <header>
        <div id="nowcard-location" class="location"></div>
    </header>
    <div class="forecast">
        <div class="condition">
            <div class="condition-icon wx-weather-icon wx-icon-bg vector"></div>
        </div>
        <div class="temp">
            <span>
                <span id="nowcard-temp"></span>
                <sup class="deg">&deg;</sup>
            </span>
        </div>
        <div id="nowcard-phrase" class="phrase"></div>
        <div class="feels">
            <span id="nowcard-feels-label" class="btn-text">feels like</span>
            <span>
                <span id="nowcard-feels-value"></span>
                <sup class="deg">&deg;</sup>
            </span>
        </div>
        <div class="hilo">
            <span id="nowcard-hi-label" class="btn-text">H</span>
        <span>
            <span id="nowcard-hi-value">--</span>
            <sup class="deg">&deg;</sup>
        </span>
            <span>/</span>
            <span id="nowcard-lo-label" class="btn-text">L</span>
        <span>
            <span id="nowcard-lo-value">--</span>
            <sup class="deg">&deg;</sup>
        </span>
        </div>
    </div>
</div>


<div class="nowcard-details card">
    <div class="wx-detail-row">
        <span class="wx-detail-label">Humidity</span>
        <span class="wx-detail-value">
            <span id="nowcard-humidity"></span><span>%</span>
        </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Wind</span>
        <span id="nowcard-wind" class="wx-detail-value wx-wind">WSW 15 mph</span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Dew Point</span>
            <span class="wx-detail-value">
                <span id="nowcard-dewpoint">43</span>
                <sup class="deg">&deg;</sup>
            </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Pressure</span>
                <span class="wx-detail-value">
                    <span id="nowcard-pressure"></span>
                </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Visibility</span>
        <span id="nowcard-visibility" class="wx-detail-value"></span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">UV Index</span>
        <span id="nowcard-uv-index" class="wx-detail-value">4 of 10</span>
    </div>
</div>


<div class="card">
    <div class="looking-ahead">
        <div class="today-daypart daypart-1 selected">
            <div class="today-daypart-content">
                <div class="today-daypart-top">
                    <span class="today-daypart-title">Tonight</span>
                    <span class="today-daypart-wxphrase">Mostly Clear</span>
                </div>

                <div class="condition-icon wx-weather-icon vector" alt="mostly clear-night">
                </div>

                <span class="today-daypart-hilo">Low</span>
                <span class="today-daypart-temp dir-ltr">
                    <span>69</span>
                    <span class="deg-unit">&deg;</span>
                </span>
                <span class="today-daypart-precip">
                    <span class="wx-iconfont-global wx-icon-precip-rain-1"></span>
                    <span class="precip-val">10%</span>
                </span>
            </div>
        </div>
        <div class="today-daypart daypart-2">
            <div class="today-daypart-content">
                <div class="today-daypart-top">
                    <span class="today-daypart-title">Tue</span>
                    <span class="today-daypart-wxphrase">PM Thunderstorms</span>
                </div>

                <div class="condition-icon wx-weather-icon vector"
                     aria-hidden="true" alt="scattered thunderstorms">
                    <div class="svg-icon">
                    </div>
                </div>

                <span class="today-daypart-hilo">High</span>
                <span class="today-daypart-temp dir-ltr">
                    <span>92</span>
                    <span class="deg-unit">&deg;</span>
                </span>
                <span class="today-daypart-precip">
                    <span><span aria-hidden="true" class="wx-iconfont-global wx-icon-precip-rain-1"></span>
                        <span class="precip-val">60%</span>
                    </span>
                </span>
            </div>
        </div>
        <div class="today-daypart daypart-3">
            <div class="today-daypart-content">
                <div class="today-daypart-top">
                    <span class="today-daypart-title">Tue Night</span>
                    <span class="today-daypart-wxphrase">Thunderstorms Early</span>
                </div>

                <div class="condition-icon wx-weather-icon vector" aria-hidden="true" alt="scattered thunderstorms-night">
                    <div class="svg-icon">
                    </div>
                </div>

                <span class="today-daypart-hilo">Low</span>
                <span class="today-daypart-temp dir-ltr">
                    <span>69</span>
                    <span class="deg-unit">&deg;</span>
                </span>
                <span class="today-daypart-precip">
                    <span data-wx-precip-sky-code="::daypart.icon">
                        <span aria-hidden="true" class="wx-iconfont-global wx-icon-precip-rain-1"></span>
                        <span class="precip-val">40%</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>