
<div class="nowcard day-clear">
    <header>
        <div id="nowcard-location" class="location"></div>
    </header>
    <div class="forecast">
        <div class="condition">
            <div class="condition-icon wx-weather-icon vector" aria-hidden="true" id="nowcard-icon"></div>
        </div>
        <div class="temp">
            <span>
                <span id="nowcard-temp"></span>
                <sup class="deg">&deg;</sup>
            </span>
        </div>
        <div id="nowcard-phrase" class="phrase"></div>
        <div class="feels">
            <span id="nowcard-feels-label" class="btn-text">feels like</span>
            <span>
                <span id="nowcard-feels-value"></span>
                <sup class="deg">&deg;</sup>
            </span>
        </div>
        <div class="hilo">
            <span id="nowcard-hi-label" class="btn-text">H</span>
        <span>
            <span id="nowcard-hi-value">--</span>
            <sup class="deg">&deg;</sup>
        </span>
            <span>/</span>
            <span id="nowcard-lo-label" class="btn-text">L</span>
        <span>
            <span id="nowcard-lo-value">--</span>
            <sup class="deg">&deg;</sup>
        </span>
        </div>
    </div>
</div>


<div class="nowcard-details card">
    <div class="wx-detail-row">
        <span class="wx-detail-label">Humidity</span>
        <span class="wx-detail-value">
            <span id="nowcard-humidity"></span><span>%</span>
        </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Wind</span>
        <span id="nowcard-wind" class="wx-detail-value wx-wind"></span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Dew Point</span>
            <span class="wx-detail-value">
                <span id="nowcard-dewpoint">43</span>
                <sup class="deg">&deg;</sup>
            </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Pressure</span>
                <span class="wx-detail-value">
                    <span id="nowcard-pressure"></span>
                </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">Visibility</span>
        <span id="nowcard-visibility" class="wx-detail-value"></span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">UV Index</span>
        <span id="nowcard-uv-index" class="wx-detail-value">4 of 10</span>
    </div>
</div>


<div class="card">
    <div class="looking-ahead">
        <div class="today-daypart daypart-1 selected">
            <div class="today-daypart-content">
                <div class="today-daypart-top">
                    <span class="today-daypart-title" id="dp1-daypartName"></span>
                    <span class="today-daypart-wxphrase" id="dp1-phrase"></span>
                </div>

                <div class="condition-icon wx-weather-icon vector" aria-hidden="true" id="la-part1-icon"></div>

                <span class="today-daypart-hilo" id="dp1-highLow"></span>
                <span class="today-daypart-temp dir-ltr">
                    <span id="dp1-temperature"></span>
                    <span class="deg-unit">&deg;</span>
                </span>
                <span class="today-daypart-precip">
                    <span class="wx-iconfont-global wx-icon-precip-rain-1"></span>
                    <span class="precip-val" id="dp1-precip"></span>%
                </span>
            </div>
        </div>
        <div class="today-daypart daypart-2">

            <div class="today-daypart-content">
                <div class="today-daypart-top">
                    <span class="today-daypart-title" id="dp2-daypartName"></span>
                    <span class="today-daypart-wxphrase" id="dp2-phrase"></span>
                </div>

                <div class="condition-icon wx-weather-icon vector" aria-hidden="true" id="la-part2-icon"></div>

                <span class="today-daypart-hilo" id="dp2-highLow"></span>
                <span class="today-daypart-temp dir-ltr">
                    <span id="dp2-temperature"></span>
                    <span class="deg-unit">&deg;</span>
                </span>
                <span class="today-daypart-precip">
                    <span class="wx-iconfont-global wx-icon-precip-rain-1"></span>
                    <span class="precip-val" id="dp2-precip"></span>%
                </span>
            </div>

        </div>
        <div class="today-daypart daypart-3">

            <div class="today-daypart-content">
                <div class="today-daypart-top">
                    <span class="today-daypart-title" id="dp3-daypartName"></span>
                    <span class="today-daypart-wxphrase" id="dp3-phrase"></span>
                </div>

                <div class="condition-icon wx-weather-icon vector" aria-hidden="true" id="la-part3-icon"></div>

                <span class="today-daypart-hilo" id="dp3-highLow"></span>
                <span class="today-daypart-temp dir-ltr">
                    <span id="dp3-temperature"></span>
                    <span class="deg-unit">&deg;</span>
                </span>
                <span class="today-daypart-precip">
                    <span class="wx-iconfont-global wx-icon-precip-rain-1"></span>
                    <span class="precip-val" id="dp3-precip"></span>%
                </span>
            </div>

        </div>








    </div>




    <div class="panel-footer dp1-details">
        <span class="today-wx-descrip" id="dp1-details-narrative"></span>

        <ul class="wx-details-block">

            <li class="wx-detail">
                <span class="wx-detail-icon">
                    <span class="wx-iconfont-global wx-icon-wind"></span>
                </span>
                <span class="wx-detail-text">
                    <span class="wx-detail-label" id="dp1-deials-wind">Wind</span>
                    <span class="wx-detail-value wx-wind dir-ltr">
                        <span id="dp1-details-wind"></span>
                    </span>
            </li>

            <li class="wx-detail">
                <span class="wx-detail-icon">
                    <span class="wx-iconfont-global wx-icon-humidity"></span>
                </span>
                <span class="wx-detail-text">
                    <span class="wx-detail-label">Humidity</span>
                    <span class="wx-detail-value">
                        <span id="dp1-details-humidity"></span>%
                </span>
            </li>

            <li class="wx-detail">
                <span class="wx-detail-icon">
                    <span class="wx-iconfont-global wx-icon-uv-index"></span>
                </span>
                <span class="wx-detail-text">
                    <span class="wx-detail-label">UV Index</span>
                    <span class="wx-detail-value" id="dp1-details-uvindex"></span>
                </span>
            </li>

            <li class="wx-detail">
                <span class="wx-detail-icon">
                    <span class="wx-iconfont-global wx-icon-sunrise-sunset"></span>
                </span>
                <span class="wx-detail-text">
                    <span class="wx-detail-label show-sm">Sun</span>
                    <span class="wx-detail-value">
                        <span class="wx-iconfont-global wx-icon-arrow-up-4"></span>
                        <span class="wx-dsxdate" id="dp1-details-sunrise"></span>
                        <span class="wx-iconfont-global wx-icon-arrow-down-4"></span>
                        <span class="wx-dsxdate" id="dp1-details-sunset"></span>
                    </span>
                </span>
            </li>

        </ul>
    </div>


</div>