<link rel="stylesheet" type="text/css" href="/styles/modules/almanac.css">

<header class="panel-heading">
    <div class="heading-link">
        <h2 class="heading" id="almanac-hdr"></h2>
    </div>
</header>

<table class="almanac-table">
    <tr class="table-header">
        <th class="col1" id="almanac-date"></th>
        <th id="almanac-high-label"></th>
        <th id="almanac-low-label"></th>
        <th id="almanac-precip-label"></th>
    </tr>
    <tr>
        <td class="col1" id="almanac-yesterday-label"></td>
        <td id="almanac-prevday-avghigh"></td>
        <td id="almanac-prevday-avglow"></td>
        <td id="almanac-prevday-avgprecip"></td>
    </tr>
    <tr>
        <td class="col1" id="almanac-last-7days-label"></td>
        <td id="almanac-7day-avghigh"></td>
        <td id="almanac-7day-avglow"></td>
        <td id="almanac-7day-avgprecip"></td>
    </tr>
    <tr>
        <td class="col1" id="almanac-averages-label"></td>
        <td id="almanac-avghigh"></td>
        <td id="almanac-avglow"></td>
        <td id="almanac-avgprecip"></td>
    </tr>

    <tr>
        <td class="col1" id="almanac-records-label"></td>
        <td>
            <span id="almanac-recordhigh"></span>
            <sub id="almanac-recordhighyr" class="almanac-recordyr"></sub>
        </td>
        <td>
            <span id="almanac-recordlow"></span>
            <sub id="almanac-recordlowyr" class="almanac-recordyr"></sub>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="col1" id="almanac-mtd-label"></td>
        <td id="almanac-mtd-high"></td>
        <td id="almanac-mtd-low"></td>
        <td id="almanac-mtd-precip"></td>
    </tr>
</table>

<table class="almanac-table">
    <tr class="table-header">
        <th class="table-header" colspan="4" id="almanac-monthly-hdr"></th>
    </tr>
    <tr>
        <td class="col1" id="almanac-currentmonth"></td>
        <td id="almanac-month1-avghigh"></td>
        <td id="almanac-month1-avglow"></td>
        <td id="almanac-month1-avgprecip"></td>
    </tr>
    <tr>
        <td class="col1" id="almanac-nextmonth"></td>
        <td id="almanac-month2-avghigh"></td>
        <td id="almanac-month2-avglow"></td>
        <td id="almanac-month2-avgprecip"></td>
    </tr>
    <tr>
        <td class="col1" id="almanac-monthafternext"></td>
        <td id="almanac-month3-avghigh"></td>
        <td id="almanac-month3-avglow"></td>
        <td id="almanac-month3-avgprecip"></td>
    </tr>
</table>