<header class="panel-heading">
    <div class="heading-link">
        <h2 class="heading" id="almanac-hdr">ALMANAC</h2>
    </div>
</header>

<!-- Static HTML for almanac module -->
<style type="text/css">
    .almanac-table  {width: 100%; border-collapse:collapse;border-spacing:0; text-align: left}
    .almanac-table td{padding:8px 5px;border:0px; vertical-align: top}
    .almanac-table th{padding:8px 5px;border:0px; vertical-align: top}
    .table-header {font-weight: bold; background-color: #F6F6F6;}
    table sub {clear: both; display: block; font-size: 10px}
    .col1 {width: 140px;}
</style>
<table class="almanac-table">
    <tr class="table-header">
        <th class="col1">Jun 23</th>
        <th>HIGH</th>
        <th>LOW</th>
        <th>PRECIP</th>
    </tr>
    <tr>
        <td class="col1">Yesterday</td>
        <td>89&deg;</td>
        <td>54&deg;</td>
        <td>0.00 in</td>
    </tr>
    <tr>
        <td class="col1">Last 7 Days</td>
        <td>89&deg;</td>
        <td>54&deg;</td>
        <td>0.78</td>
    </tr>
    <tr>
        <td class="col1">Averages</td>
        <td>89&deg;</td>
        <td>54&deg;</td>
        <td>0.14</td>
    </tr>

    <tr>
        <td class="col1">Records</td>
        <td>89&deg;
            <sub>1944</sub>
        </td>
        <td>54&deg;
            <sub>1944</sub>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="col1">Month to Date</td>
        <td>89&deg;</td>
        <td>54&deg;</td>
        <td>10%</td>
    </tr>
</table>

<table class="almanac-table">
    <tr class="table-header">
        <th class="table-header" colspan="4">Historical Monthly Avg</th>
    </tr>
    <tr>
        <td class="col1">June</td>
        <td>89&deg;</td>
        <td>54&deg;</td>
        <td>2.78</td>
    </tr>
    <tr>
        <td class="col1">July</td>
        <td>89&deg;</td>
        <td>54&deg;</td>
        <td>2.78</td>
    </tr>
    <tr>
        <td class="col1">August</td>
        <td>89&deg;</td>
        <td>54&deg;</td>
        <td>2.78</td>
    </tr>
</table>