.gm_alerts {
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.gm_alerts.hidden{
  display: none;
}
.gm_alerts .bg-alert-1 {
  background-color: rgba(170, 5, 14, 0.9) !important;
  color: #d98f93;
}
.gm_alerts .bg-alert-1 .dropdown-toggle {
  color: rgba(170, 5, 14, 0.9) !important;
}
.gm_alerts .bg-alert-1 .timestamp {
  color: #d98f93;
}
.gm_alerts .bg-alert-2 {
  background-color: rgba(230, 115, 31, 0.9) !important;
}
.gm_alerts .bg-alert-2 .dropdown-toggle {
  color: rgba(230, 115, 31, 0.9) !important;
}
.gm_alerts .bg-alert-2 .timestamp {
  color: #f4c09a;
}
.gm_alerts .bg-alert-3, .gm_alerts .bg-alert-pollen {
  background-color: rgba(222, 162, 37, 0.9) !important;
}
.gm_alerts .bg-alert-3 .dropdown-toggle, .gm_alerts .bg-alert-pollen .dropdown-toggle {
  color: rgba(222, 162, 37, 0.9) !important;
}
.gm_alerts .bg-alert-3 .timestamp, .gm_alerts .bg-alert-pollen .timestamp {
  color: #f0d59d;
}
.gm_alerts .dropdown.open .wx-icon-arrow-down-2 {
  display: none;
}
.gm_alerts .dropdown.open .wx-icon-arrow-up-2 {
  display: inline;
}
.gm_alerts .dropdown .list-group > li > a, .gm_alerts .dropdown .list-group > li .list-group-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.gm_alerts .bg-alert-1:focus, .gm_alerts .bg-alert-1:hover {
  background-color: #91040c !important;
}
.gm_alerts .bg-alert-2:focus, .gm_alerts .bg-alert-2:hover {
  background-color: #d46718 !important;
}
.gm_alerts .bg-alert-3:focus, .gm_alerts .bg-alert-3:hover,
.gm_alerts .bg-alert-pollen:focus, .gm_alerts .bg-alert-pollen:hover {
  background-color: #cb931f !important;
}
.gm_alerts .gma-bolder {
  font-weight: bolder;
}
.gm_alerts .gma-text-color {
  color: #ffffff;
}
.gm_alerts .warning-text {
  text-transform: uppercase;
  font-weight: bold;
}
html[lang="ja-JP"] .gm_alerts .warning-text, html[lang="ko-KR"] .gm_alerts .warning-text, html[lang="zh-CN"] .gm_alerts .warning-text, html[lang="zh-TW"] .gm_alerts .warning-text, html[lang="zh-HK"] .gm_alerts .warning-text {
  font-weight: normal;
}
.gm_alerts .timestamp {
  display: none;
}
.gm_alerts .dropdown {
  z-index: 1000;
}
.gm_alerts .text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gm_alerts .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid #999999;
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.gm_alerts .dropdown .list-group > li > a {
  padding: 0 15px;
}
.gm_alerts .dropdown a, .gm_alerts .dropdown a:focus, .gm_alerts .dropdown a:active, .gm_alerts .dropdown a:hover {
  color: #ffffff;
}
.gm_alerts .dropdown .wx-icon-arrow-down-2 {
  display: inline;
}
.gm_alerts .dropdown .wx-icon-arrow-up-2 {
  display: none;
}
.gm_alerts .dropdown.open .wx-icon-arrow-down-2 {
  display: none;
}
.gm_alerts .dropdown.open .wx-icon-arrow-up-2 {
  display: inline;
}
.gm_alerts .dropdown .priority {
  margin-bottom: 0;
  position: relative;
}
.gm_alerts .dropdown .priority .title {
  display: block;
  padding: 7px 85px 9px 15px;
}
.gm_alerts .dropdown .dropdown-toggle {
  cursor: pointer;
  border: none;
  background: #FFFFFF;
  padding: 6px 8px 5px;
  width: 85px;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}
.gm_alerts .dropdown .dropdown-toggle .wx-iconfont-global {
  position: relative;
  font-size: 16px;
  top: 5px;
}
.gm_alerts .dropdown .dropdown-toggle .wx-iconfont-global.wx-icon-alert {
  font-size: 1.3em;
  float: left;
  margin-right: 5PX;
}
.gm_alerts .dropdown .dropdown-toggle .btn-caption {
  float: left;
  font-size: 18px;
}
.gm_alerts .dropdown .dropdown-menu {
  width: 100%;
  text-align: left;
  border: none;
  top: 30px;
  padding: 0;
}
.gm_alerts .dropdown .dropdown-menu .text {
  padding-left: 0px;
}
.gm_alerts .dropdown .dropdown-menu > li {
  border-top: none;
}

.gm_alerts .dropdown .open > .dropdown-menu {
    display: block;
}

@media (min-width: 300px) {
  .gm_alerts .dropdown .dropdown-toggle {
    width: 75px;
    height: 100%;
    padding: 8px;
  }
  .gm_alerts .dropdown .dropdown-toggle .wx-iconfont-global {
    font-size: 10px;
    top: 0;
  }
  html[lang="fa-IR"] .gm_alerts .dropdown .dropdown-toggle, html[lang="he-IL"] .gm_alerts .dropdown .dropdown-toggle , html[lang="ar-AE"] .gm_alerts .dropdown .dropdown-toggle {
    padding-bottom: 5px;
  }
  html[lang="fa-IR"] .gm_alerts .dropdown .dropdown-toggle .wx-iconfont-global, html[lang="he-IL"] .gm_alerts .dropdown .dropdown-toggle .wx-iconfont-global, html[lang="ar-AE"] .gm_alerts .dropdown .dropdown-toggle .wx-iconfont-global {
    line-height: 24px;
  }
  .gm_alerts .dropdown .dropdown-toggle .btn-caption {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .gm_alerts .timestamp {
    display: inline;
  }
}
