#page-div-toast {
  height: 100px;
  position: absolute;
  bottom: -200px; }

.gm-push {
  z-index: 100;
  width: 100%; }
  .gm-push .push-wrapper {
    background: #3c8ed2;
    margin: 0;
    padding: 0;
    border: transparent;
    height: 100%; }
  .gm-push .push-alert {
    display: inline-block;
    display: flex;
    background: inherit; }
  .gm-push .push-message {
    display: inline-block;
    display: flex;
    margin: 5px 0; }
    .gm-push .push-message img {
      margin: 0 10px;
      height: 50px;
      width: 50px !important; }
  .gm-push .close {
    margin: 3px 8px 20px 15px;
    color: white;
    font-size: 16px; }
  .gm-push .push-content {
    margin: 7px 0;
    padding-left: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer; }
  .gm-push .alert-text {
    margin: 0; }
  .gm-push .wx-content {
    white-space: nowrap; }
  .gm-push .alert-arrow {
    vertical-align: middle;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold; }
