#page-div-toast
  height: 100px
  position: absolute
  bottom: -200px

.gm-push
  z-index: 100
  width: 100%
  .push-wrapper
    background: #3c8ed2
    padding: 0
    border: transparent
    height: 100%
    margin: 0 15px
  .push-message
    margin: 5px 0
    img
      margin: 0 10px
  .close
    margin: 3px 8px 20px 15px
    color: white
    font-size: 25px
  .push-content
    margin: 7px 0
    padding-left: 5px
    font-size: 14px
    color: white
    cursor: pointer
  .alert-text
    margin: 0
  //text-transform: capitalize
  .wx-content
    white-space: nowrap
  .alert-arrow
    vertical-align: middle
    padding-left: 5px
    font-size: 14px
    font-weight: bold

