<link rel="stylesheet" type="text/css" href="/styles/modules/404.css">

<div class="hero-404">

    <div class="largetext">404</div>
    <div class="smalltext">The page you requested cannot be found.</div>
    <div>Try one of the links below.</div>
</div>


<div class="card">

    <ul class="list-404">
        <li>
            <a href="">
                <span>Today's Weather</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>10 Day Froecast</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>Hourly Forecast</span>
            </a>
        </li>
        <li>
            <a href="">
                <span>Weather Headlines</span>
            </a>
        </li>

    </ul>


</div>