<div class="nowcard" id="nowcard-bg">
    <header>
        <div id="nowcard-location" class="location"></div>
        <div class="nowcard-timestamp" id="nowcard-timestamp"></div>
    </header>
    <div class="forecast">
        <div class="condition">
            <div class="condition-icon wx-weather-icon vector" aria-hidden="true" id="nowcard-icon"></div>
        </div>
        <div class="temp">
            <span>
                <span id="nowcard-temp"></span>
                <sup class="deg">&deg;</sup>
            </span>
        </div>
        <div id="nowcard-phrase" class="phrase"></div>
        <div class="feels">
            <span id="nowcard-feels-label" class="btn-text"></span>
            <span>
                <span id="nowcard-feels-value"></span>
                <sup class="deg">&deg;</sup>
            </span>
        </div>
        <div class="hilo">
            <span id="nowcard-hi-label" class="btn-text">H</span>
            <span>
                <span id="nowcard-hi-value">--</span>
                <sup class="deg">&deg;</sup>
            </span>
            <span>/</span>
            <span id="nowcard-lo-label" class="btn-text">L</span>
            <span>
                <span id="nowcard-lo-value">--</span>
                <sup class="deg">&deg;</sup>
            </span>
        </div>
    </div>
</div>

<div class="card card-padding nowcard-details">
    <header class="panel-heading">
        <div class="heading-link">
            <h2 class="heading" id="">Right Now</h2>
        </div>
    </header>
    <div class="wx-detail-row">
        <span class="wx-detail-label">
            <span class="wx-iconfont-global wx-icon-humidity wx-detail-icon"></span>
            <span id="today-humidity"></span>
        </span>
        <span class="wx-detail-value">
            <span id="nowcard-humidity"></span><span>&#37;</span>
        </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">
            <span class="wx-iconfont-global wx-icon-wind wx-detail-icon"></span>
            <span id="today-wind"></span>
        </span>
        <span id="nowcard-wind" class="wx-detail-value wx-wind"></span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">
            <span class="wx-iconfont-global wx-icon-dew-point wx-detail-icon"></span>
            <span id="today-dew-point"></span>
        </span>
        <span class="wx-detail-value">
            <span id="nowcard-dewpoint"></span>&deg;
        </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">
            <span class="wx-iconfont-global wx-icon-pressure wx-detail-icon"></span>
            <span id="today-pressure"></span>
        </span>
        <span class="wx-detail-value">
            <span id="nowcard-pressure"></span>
        </span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">
            <span class="wx-iconfont-global wx-icon-visibility wx-detail-icon"></span>
            <span id="today-visibility"></span>
        </span>
        <span id="nowcard-visibility" class="wx-detail-value"></span>
    </div>
    <div class="wx-detail-row">
        <span class="wx-detail-label">
            <span class="wx-iconfont-global wx-icon-uv-index wx-detail-icon"></span>
            <span id="today-uv-index"></span>
        </span>
        <span id="nowcard-uv-index" class="wx-detail-value"></span>
    </div>
</div>