<tr class="clickable"
    data-ng-repeat-start="daypart in (ls24HourVm.dayRecords | limitTo: ls24HourVm.limitHourly) track by $index"
    data-ng-class="{'open': ls24HourVm.selectedDayIndex === $index,
            'details': daypart.parent !== -1, 'closed': ls24HourVm.selectedDayIndex !== $index && daypart.parent === -1}"
    data-ng-click="ls24HourVm.openDayDetail($index)"
    data-ng-if="daypart.parent === -1 || daypart.parent === ls24HourVm.selectedDayIndex"
    data-track-str="{{::ls24HourVm.moduleId}}_toggle">
    <td class="twc-sticky-col" headers="day" title="{{::daypart.narrative}}">
            <span
                    data-ng-bind="::daypart.dayPartName"
                    class="date-time"></span>
        <span data-gm-wx-alert-badge="::daypart.iconExtended"></span>
        <span data-wxicon data-sky-code="::daypart.icon"></span>
            <span
                    data-dsxdate
                    data-datetime="::daypart.validDate" data-timezone="::ls24HourVm.locTz" class="day-detail clearfix"
                    data-format="::'MMM d' | pfTranslate: {context: 'weather_dateformats'}"></span>
        <div class="twc-table-shadow sticky"></div>
    </td>
    <td headers="description" class="description">
        <p class="phrase-td"></p>
    </td>
    <td headers="hi-low" class="temp">

            <span><!--<span data-ng-if="daypart.parent === -1">-->
              <span class="temphi-td"></span>
              <span data-ng-if="(daypart.tempHi !== '--')">&deg;</span>
              <span class="slash"></span>
              <span class="templo-td"></span>
              <span data-ng-if="(daypart.tempLo !== '--')">&deg;</span>
            </span>
            <span data-ng-if="daypart.parent !== -1">
              <span>--</span>
              <span class="slash"></span>
              <span class="templo-td"></span>
              <span data-ng-if="(daypart.tempLo !== '--')">&deg;</span>
            </span>
    </td>
    <td headers="precip" class="precip">
        <span aria-hidden="true" class="wx-iconfont-global wx-icon-precip-rain-1"></span>
        <span class="precip-td"></span>%
    </td>
    <td headers="wind" class="wind">
        <span class="wind-direction-td"></span>
        <span class="wind-speed-td"></span> MPH
    </td>
    <td headers="humidity" class="humidity">
            <span class="humidity-td"></span>%
    </td>
    <td headers="uv-index" class="uv-index">
            <span class="uvindex-td"></span>
    </td>
    <td headers="sunrise" class="sunrise">
        <span data-ng-if="::daypart.sunrise" aria-hidden="true" class="wx-iconfont-global wx-icon-sunrise"></span>
            <span
                    data-dsxdate
                    data-datetime="daypart.sunrise"
                    data-format="'h:mm a' | pfTranslate: {context: 'weather_dateformats'}"
                    data-placeholder="'--'"></span>
    </td>
    <td headers="sunset" class="sunset">
        <span data-ng-if="::daypart.sunset" aria-hidden="true" class="wx-iconfont-global wx-icon-sunset"></span>
            <span
                    data-dsxdate
                    data-datetime="daypart.sunset"
                    data-format="::'h:mm a' | pfTranslate: {context: 'weather_dateformats'}"
                    data-placeholder="'--'"></span>
    </td>
    <td headers="moonrise" class="moonrise">
        <span data-ng-if="::daypart.moonrise" aria-hidden="true" class="wx-iconfont-moon moon-rise"></span>
            <span
                    data-dsxdate
                    data-datetime="::daypart.moonrise"
                    data-format="::'h:mm a' | pfTranslate: {context: 'weather_dateformats'}"
                    data-placeholder="'--'"></span>
    </td>
    <td headers="moonset" class="moonset">
        <span data-ng-if="::daypart.moonset" aria-hidden="true" class="wx-iconfont-moon moon-set"></span>
            <span
                    data-dsxdate
                    data-datetime="::daypart.moonset"
                    data-format="::'h:mm a' | pfTranslate: {context: 'weather_dateformats'}"
                    data-placeholder="'--'"></span>
    </td>
</tr>
