<link rel="stylesheet" type="text/css" href="/ss-SS/styles/modules/page-toast.css">

<div class="gm-push" id="page-div-toast" >
    <div class="push-wrapper">
        <section class="push-alert">
            <div class="push-message" onclick="toastFunctions.toastClicked()">
                <div class="twc-logo-div">
                <img class="TWC-logo" src="https://s.w-x.co/twc-white.png" alt="The Weather Channel Logo" title="The Weather Channel Logo">
                </div>
                    <div  class="push-content">
                    <span class="alert-text" id="toast-text"></span>
                    <span class="wx-iconfont-global wx-icon-arrow-right-4 alert-arrow"></span>
                </div>
            </div>
            <span onclick="toastFunctions.closeToast()" class="wx-iconfont-global wx-icon-close close"></span>
        </section>
    </div>
</div>
