<header class="mod-header">Sun and Moon</header>
<div class="mod-body">
    <div class="moonphase">
        <h4>Moonphase:<span id="sunmoon-moonPhrase"></span> </h4>
    </div>
    <ul>
        <li><span class="periodName">Sunrise:</span><span id ="sunmoon-sunrise"></span></li>
        <!--<li><span class="periodName">Solar Noon:</span><span id ="sunmoon-noon"></span></li>-->
        <li><span class="periodName">Sunset:</span><span id ="sunmoon-sunset"></span></li>
        <li><span class="periodname">Moonrise:</span><span id ="sunmoon-moonrise"></span></li>
        <li><span class="periodName">Moonset:</span><span id ="sunmoon-moonset"></span></li>
    </ul>
</div>