<link rel="stylesheet" type="text/css" href="/sass/modules/sun-moon.css">
<div class="test">
<div class="sunmoon-mod">
    <header class="mod-header">Sun & Moon</header>
    <div class="mod-body">
        <ul class="sunmoon-list">
            <li>
                <div class="list-element">
                    <span class="wx-iconfont-global wx-icon-sunrise sun-icon"></span> <span class="periodName">Sunrise</span>
                </div>
                <span id ="sunmoon-sunrise" class ="period-value"></span>
            </li>
            <li>
                <div class="list-element">
                    <span class="wx-iconfont-global wx-icon-sunny sun-icon"></span> <span class="periodName">Solar Noon</span>
                </div>
                <span id ="sunmoon-noon" class ="period-value"></span>
            </li>

            <li>
                <div class="list-element">
                    <span class="wx-iconfont-global wx-icon-sunset sun-icon"></span> <span class="periodName">Sunset</span>
                </div>
                <span id ="sunmoon-sunset" class ="period-value"></span>
            </li>
            <li>
                <div class="list-element">
                    <span id = "sunmoon-moonphrase-icon" class="moon-icon"></span> <span class="periodName">Moonphase</span>
                </div>
                <span id ="sunmoon-moonphrase" class ="period-value"></span>
            </li>
            <li>
                <div class="list-element">
                   <span class="wx-iconfont-moon moon-rise moon-icon"></span> <span class="periodname">Moonrise</span>
                </div>
                <span id ="sunmoon-moonrise" class ="period-value"></span>
            </li>
            <li><div class="list-element">
                <span class="wx-iconfont-moon moon-set moon-icon"></span> <span class="periodName">Moonset</span>
                </div>
                <span id ="sunmoon-moonset" class ="period-value"></span>
            </li>
        </ul>
    </div>
</div>
</div>