@function px-to-rem($font-size)
  $base-font: 14px
  @return #{$font-size/$base-font}rem

=normalize-font($font-size)
  $min-size-threshold: 16px
  font-size: px-to-rem($font-size)
  @if ($font-size <= $min-size-threshold)
    $font-size: $min-size-threshold
    .lang-glyph-small &
      font-size: px-to-rem($font-size)