@font-face {
    font-family: 'wx-iconfont-global';
    src:    url('fonts/wx-iconfont-global.eot?7ipyug');
    src:    url('fonts/wx-iconfont-global.eot?7ipyug#iefix') format('embedded-opentype'),
        url('fonts/wx-iconfont-global.ttf?7ipyug') format('truetype'),
        url('fonts/wx-iconfont-global.woff?7ipyug') format('woff'),
        url('fonts/wx-iconfont-global.svg?7ipyug#wx-iconfont-global') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wx-iconfont-global {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wx-iconfont-global' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wx-icon-precip-rain:before {
    content: "\e676";
}
.wx-icon-precip-rain-2:before {
    content: "\e649";
}
.wx-icon-precip-rain-1:before {
    content: "\e64a";
}
.wx-icon-precip-wintry-mix:before {
    content: "\e677";
}
.wx-icon-precip-hail:before {
    content: "\e903";
}
.wx-icon-arrow-down:before {
    content: "\e600";
}
.wx-icon-arrow-up:before {
    content: "\e601";
}
.wx-icon-arrow-left:before {
    content: "\e602";
}
.wx-icon-arrow-right:before {
    content: "\e603";
}
.wx-icon-arrow-down-2:before {
    content: "\e604";
}
.wx-icon-arrow-up-2:before {
    content: "\e605";
}
.wx-icon-arrow-left-2:before {
    content: "\e606";
}
.wx-icon-arrow-right-2:before {
    content: "\e607";
}
.wx-icon-arrow-down-3:before {
    content: "\e656";
}
.wx-icon-arrow-up-3:before {
    content: "\e657";
}
.wx-icon-arrow-left-3:before {
    content: "\e608";
}
.wx-icon-arrow-right-3:before {
    content: "\e609";
}
.wx-icon-arrow-up-4:before {
    content: "\e655";
}
.wx-icon-arrow-down-4:before {
    content: "\e658";
}
.wx-icon-arrow-left-4:before {
    content: "\e659";
}
.wx-icon-arrow-right-4:before {
    content: "\e65a";
}
.wx-icon-arrow-down-5:before {
    content: "\e64c";
}
.wx-icon-outbound-link-arrow:before {
    content: "\e905";
}
.wx-icon-wind-SW:before {
    content: "\e663";
}
.wx-icon-wind-SE:before {
    content: "\e664";
}
.wx-icon-wind-NE:before {
    content: "\e665";
}
.wx-icon-wind-NW:before {
    content: "\e666";
}
.wx-icon-drag:before {
    content: "\e904";
}
.wx-icon-home:before {
    content: "\e900";
}
.wx-icon-recently-searched:before {
    content: "\e901";
}
.wx-icon-work:before {
    content: "\e902";
}
.wx-icon-edit:before {
    content: "\e667";
}
.wx-icon-new-window:before {
    content: "\e654";
}
.wx-icon-minus:before {
    content: "\e653";
}
.wx-icon-map_layers:before {
    content: "\e652";
}
.wx-icon-check_2:before {
    content: "\e651";
}
.wx-icon-help:before {
    content: "\e65f";
}
.wx-icon-info:before {
    content: "\e60a";
}
.wx-icon-alert:before {
    content: "\e60b";
}
.wx-icon-alert-inset:before {
    content: "\e64b";
}
.wx-icon-error-2:before {
    content: "\e64d";
}
.wx-icon-alert-bell:before {
    content: "\e906";
}
.wx-icon-video:before {
    content: "\e60d";
}
.wx-icon-photo:before {
    content: "\e60e";
}
.wx-icon-location:before {
    content: "\e610";
}
.wx-icon-location-switch:before {
    content: "\e622";
}
.wx-icon-enlarge:before {
    content: "\e661";
}
.wx-icon-traffic:before {
    content: "\e660";
}
.wx-icon-location-current:before {
    content: "\e612";
}
.wx-icon-menu:before {
    content: "\e613";
}
.wx-icon-profile:before {
    content: "\e614";
}
.wx-icon-plus:before {
    content: "\e615";
}
.wx-icon-add-location:before {
    content: "\e910";
}
.wx-icon-close:before {
    content: "\e616";
}
.wx-icon-corner-open:before {
    content: "\e61f";
}
.wx-icon-search:before {
    content: "\e617";
}
.wx-icon-settings:before {
    content: "\e618";
}
.wx-icon-print:before {
    content: "\e619";
}
.wx-icon-download:before {
    content: "\e61b";
}
.wx-icon-globe:before {
    content: "\e907";
}
.wx-icon-separator:before {
    content: "\e623";
}
.wx-icon-card-view:before {
    content: "\e678";
}
.wx-icon-list-view:before {
    content: "\e679";
}
.wx-icon-metadata-info:before {
    content: "\e669";
}
.wx-icon-play:before {
    content: "\e624";
}
.wx-icon-pause:before {
    content: "\e625";
}
.wx-icon-hi-def:before {
    content: "\e626";
}
.wx-icon-fullscreen:before {
    content: "\e627";
}
.wx-icon-closed-caption:before {
    content: "\e628";
}
.wx-icon-volume-0:before {
    content: "\e629";
}
.wx-icon-volume-1:before {
    content: "\e62a";
}
.wx-icon-volume-2:before {
    content: "\e62b";
}
.wx-icon-volume-3:before {
    content: "\e62c";
}
.wx-icon-email:before {
    content: "\e632";
}
.wx-icon-like:before {
    content: "\e633";
}
.wx-icon-dislike:before {
    content: "\e908";
}
.wx-icon-share:before {
    content: "\e634";
}
.wx-icon-share-arrow:before {
    content: "\e909";
}
.wx-icon-facebook:before {
    content: "\e635";
}
.wx-icon-twitter:before {
    content: "\e638";
}
.wx-icon-google-plus:before {
    content: "\e636";
}
.wx-icon-pinterest:before {
    content: "\e637";
}
.wx-icon-reddit:before {
    content: "\e66a";
}
.wx-icon-qzone:before {
    content: "\e66c";
}
.wx-icon-sina-weibo:before {
    content: "\e66b";
}
.wx-icon-youtube:before {
    content: "\e64e";
}
.wx-icon-instagram:before {
    content: "\e64f";
}
.wx-icon-alert-others:before {
    content: "\e914";
}
.wx-icon-message:before {
    content: "\e915";
}
.wx-icon-tornado:before {
    content: "\e63a";
}
.wx-icon-tropical-storm:before {
    content: "\e645";
}
.wx-icon-thunderstorm:before {
    content: "\e63b";
}
.wx-icon-rain-snow:before {
    content: "\e63f";
}
.wx-icon-hail:before {
    content: "\e646";
}
.wx-icon-rain-hail:before {
    content: "\e644";
}
.wx-icon-freezing-drizzle:before {
    content: "\e620";
}
.wx-icon-heavy-rain:before {
    content: "\e650";
}
.wx-icon-rain:before {
    content: "\e65e";
}
.wx-icon-light-rain:before {
    content: "\e65d";
}
.wx-icon-cloudy:before {
    content: "\e648";
}
.wx-icon-wind:before {
    content: "\e639";
}
.wx-icon-blowing-snow:before {
    content: "\e63e";
}
.wx-icon-heavy-snow:before {
    content: "\e641";
}
.wx-icon-snow:before {
    content: "\e643";
}
.wx-icon-flurries:before {
    content: "\e63d";
}
.wx-icon-sunny:before {
    content: "\e63c";
}
.wx-icon-mostly-cloudy:before {
    content: "\e66d";
}
.wx-icon-partly-cloudy:before {
    content: "\e640";
}
.wx-icon-mostly-sunny:before {
    content: "\e66e";
}
.wx-icon-clear-night:before {
    content: "\e65b";
}
.wx-icon-mostly-cloudy-night:before {
    content: "\e66f";
}
.wx-icon-partly-cloudy-night:before {
    content: "\e670";
}
.wx-icon-mostly-clear-night:before {
    content: "\e671";
}
.wx-icon-fog:before {
    content: "\e647";
}
.wx-icon-sunrise:before {
    content: "\e65c";
}
.wx-icon-sunset:before {
    content: "\e662";
}
.wx-icon-sunrise-sunset:before {
    content: "\e90a";
}
.wx-icon-temperature:before {
    content: "\e668";
}
.wx-icon-not-available:before {
    content: "\e642";
}
.wx-icon-feels-like:before {
    content: "\e673";
}
.wx-icon-rain-and-snow:before {
    content: "\e674";
}
.wx-icon-visibility:before {
    content: "\e90b";
}
.wx-icon-uv-index:before {
    content: "\e90c";
}
.wx-icon-pressure:before {
    content: "\e90d";
}
.wx-icon-humidity:before {
    content: "\e90e";
}
.wx-icon-dew-point:before {
    content: "\e90f";
}
.wx-icon-weed-pollen:before {
    content: "\e911";
}
.wx-icon-tree-pollen:before {
    content: "\e912";
}
.wx-icon-grass-pollen:before {
    content: "\e913";
}
.wx-icon-time:before {
    content: "\e916";
}
.wx-icon-map:before {
    content: "\e917";
}
.wx-icon-calender:before {
    content: "\e918";
}

.wx-icon-code-32:before {
    content: "\e63c"
}