<link rel="stylesheet" type="text/css" href="/styles/modules/hourly-forecast.css">
<section class="ls-hourly-wwir" data-ng-if="::lsHourlyVm.showWWIR">
  <!-- <span data-wxicon data-vector-optimized="true" data-sky-code="::lsHourlyVm.iconClass"></span> -->
  <!-- TODO: Update logic to use rain or snow icon from above directive -->
  <span aria-hidden="true" class="wwir-icon wx-iconfont-global {{::lsHourlyVm.iconClass}}"></span>
  <p class="wwir-data">
    <span class="wwir-phrase" data-ng-bind="::lsHourlyVm.textPhrase"></span>
    <span class="wwir-time" data-ng-bind="::lsHourlyVm.timePhrase"></span>
  </p>
</section>

<article class="ls-hourly-wrap twc-table-wrap" data-ng-cloak>
  <div id="twc-scrollable" class="twc-table-scroller">
    <table class="twc-table">
      <thead>
        <tr>
          <th class="twc-sticky-col" id="hourly-time" scope="col"></th>
          <th class="description" id="hourly-description" scope="col"></th>
          <th id="hourly-temp" scope="col"></th>
          <th id="hourly-feels" scope="col"></th>
          <th id="hourly-precip" scope="col"></th>
          <th id="hourly-humidity" scope="col"></th>
          <th id="hourly-wind" scope="col"></th>
        </tr>
      </thead>
      <tbody id="ls-row-wrap" class="ls-row-wrap"></tbody>
    </table>
  </div>
  <div class="twc-table-shadow"></div>


 </article>
  <div class="ls-hourly-control">
    <a href="" class="ls-hourly-btn"
      data-ng-if="lsHourlyVm.canNextHourly"
      data-ng-click="::lsHourlyVm.loadMoreHourly()"
      data-track-str="{{::lsHourlyVm.moduleId}}_next">
      <span class="hourly-text" data-ng-bind="::'Next 8 Hours' | pfTranslate: {context: 'weather_terms'}"></span>
      <span aria-hidden="true" class="wx-iconfont-global wx-icon-arrow-down-5 hourly-down-arrow"></span>
    </a>
    <a class="ls-hourly-btn"
      data-ng-if="!lsHourlyVm.canNextHourly"
      data-ng-href="{{::lsHourlyVm.tendayLink}}"
      data-from-str="{{::lsHourlyVm.moduleId}}_moreHourly-10Day">
      <span class="hourly-text" data-ng-bind="::'10 Day Forecast' | pfTranslate: {context: 'weather_terms'}"></span>
      <span class="wx-iconfont-global wx-icon-arrow-right hourly-right-arrow"></span>
    </a>
  </div>


