        <tr
          class="ls-row-repeat">
          <td class="twc-sticky-col" headers="time">
            <span class="time js-time time-detail"></span>
            <!-- <span data-gm-wx-alert-badge="::hour.iconExtended"></span> -->
            <span class="wx-weather-icon js-wxicon"></span>
            <span class="date js-date day-detail"></span>
              <div class="twc-table-shadow sticky"></div>
          </td>
          <td headers="description" class="description">
            <p class="js-description"></p>
          </td>
          <td headers="temp" class="temp">
            <span class="js-temp"></span>&deg;
          </td>
          <td headers="feels" class="feels">
            <span class="js-feels"></span>&deg;
          </td>
          <td headers="precip" class="precip">
            <span aria-hidden="true" class="wx-iconfont-global wx-icon-precip-rain-1"></span>
            <span class="js-precip"></span>%
          </td>
          <td headers="humidity" class="humidity">
            <span class="js-humidity"></span>%
          </td>
          <td headers="wind" class="wind">
            <span class="wind-direction js-wind-direction"></span>
              <!-- TODO:: This needs to be dynamic -->
            <span class="wind-speed js-wind-speed"></span>
          </td>
      </tr>
