body {
  font-family: Arial; }

.hero-404 {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/img/404-hero.png);
  text-align: center; }
  .hero-404 .largetext {
    font-size: 48px;
    font-weight: 700;
    padding-top: 70px;
    color: rgba(255, 255, 255, 0.8); }
  .hero-404 .subtext {
    font-size: 16px;
    color: #FFF; }

.list-404 {
  font-size: 16px;
  text-transform: uppercase; }
  .list-404 li a {
    padding: 20px;
    display: block;
    border-bottom: solid 1px #999;
    color: #393939; }
  .list-404 li .wx-iconfont-global {
    font-size: 25px;
    vertical-align: middle;
    margin-right: 10px; }
