.almanac-card {
  padding: 0; }
  .almanac-card .panel-heading {
    padding: 10px 8px; }

.almanac-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }
  .almanac-table tr {
    display: block; }
    .almanac-table tr:after {
      content: "";
      border-bottom: solid 1px #999;
      width: 100%;
      height: 1px;
      display: block; }
    .almanac-table tr.table-header:after {
      border-bottom: 0px; }
    .almanac-table tr:last-child:after {
      border-bottom: 0px; }
  .almanac-table td, .almanac-table th {
    padding: 10px 5px;
    border: 0px;
    vertical-align: top;
    width: 20%; }
  .almanac-table .table-header {
    font-weight: bold;
    background-color: #F6F6F6;
    text-transform: capitalize; }
  .almanac-table table sub {
    clear: both;
    display: block;
    font-size: 10px; }
  .almanac-table .col1 {
    width: 140px;
    padding-left: 8px; }
  .almanac-table .col4 {
    padding-right: 8px; }
  .almanac-table .almanac-recordyr {
    display: block;
    clear: both; }
