.panel-heading > h2,
.panel-heading .heading {
  font-size: 1.42857rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 5px 0 10px; }

.twc-table-wrapper {
  position: relative; }

.twc-table-scroller {
  overflow-x: scroll;
  overflow-y: visible;
  width: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: auto;
  -webkit-transform: translate3d(0, 0, 0);
  border-bottom: none;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000; }

.twc-table {
  padding-left: 134px;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  display: block;
  overflow: auto;
  table-layout: fixed;
  color: #393939; }
  .twc-table th {
    border: none;
    color: #393939;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: solid 1px #999;
    background-color: #eef6fb; }
    .twc-table th.twc-sticky-col {
      border-right: none; }
  .twc-table td {
    border-bottom: solid 1px #999;
    padding: 5px 10px;
    white-space: nowrap;
    height: 50px; }
    .twc-table td.twc-sticky-col {
      background-color: #fff;
      z-index: 1; }
  .twc-table tr.open td,
  .twc-table tr.details td {
    background-color: #dadada;
    border-bottom: solid 1px #999;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease; }
  .twc-table .clickable {
    cursor: pointer; }
  .twc-table .no-data {
    cursor: inherit; }
  .twc-table .wx-alert-badge {
    color: #aa050e;
    position: absolute;
    top: 5px;
    right: 5px; }
  .twc-table .day-detail {
    overflow: hidden;
    *zoom: 1; }
  .twc-table .wrap {
    white-space: normal; }
  .twc-table .twc-sticky-col {
    border-right: none;
    overflow: visible;
    left: 0;
    position: absolute;
    top: auto;
    width: 134px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000; }
    .twc-table .twc-sticky-col .wx-dsxdate,
    .twc-table .twc-sticky-col .day-detail,
    .twc-table .twc-sticky-col .date-time {
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block; }
    .twc-table .twc-sticky-col .day-detail {
      display: block; }

.ls-display-control {
  display: -webkit-flex;
  display: flex; }

.ls-display-btn {
  -webkit-flex: 1;
  flex: 1;
  padding: 16px 4px;
  text-align: center;
  background: white;
  border-bottom: 1px solid #999999; }

@media (min-width: 768px) {
  html[lang="fa-IR"] .twc-table .twc-sticky-col, html[lang="ar-AE"] .twc-table .twc-sticky-col {
    width: 152px; }

  /*rtl:ignore */
  html[lang="fa-IR"] .twc-table th.twc-sticky-col, html[lang="ar-AE"] .twc-table th.twc-sticky-col, html[lang="fa-IR"] .twc-table td.twc-sticky-col, html[lang="ar-AE"] .twc-table td.twc-sticky-col {
    padding-right: 25px; } }
.twc-table-shadow {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  height: 100%; }
  .twc-table-shadow.sticky {
    width: 10px;
    right: -10px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); }

.ls-hourly-wrap {
  background: white;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .ls-hourly-wrap {
      margin: 5px;
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); } }
  .ls-hourly-wrap .wx-weather-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 10px; }
  .ls-hourly-wrap .description {
    padding-left: 15px;
    width: 30%; }
    .ls-hourly-wrap .description p {
      height: auto;
      display: inherit; }
    @media only screen and (max-width: 767px) {
      .ls-hourly-wrap .description {
        display: none; } }
  .ls-hourly-wrap .wind {
    width: 70%; }
    @media only screen and (max-width: 767px) {
      .ls-hourly-wrap .wind {
        width: 100%; } }
  .ls-hourly-wrap .feels {
    color: #999999;
    font-style: italic; }
  .ls-hourly-wrap .temp,
  .ls-hourly-wrap .feels {
    font-weight: 600; }
  .ls-hourly-wrap .day-detail {
    font-size: 0.78571rem;
    color: #cccccc; }
  .ls-hourly-wrap .open .day-detail,
  .ls-hourly-wrap .details .day-detail {
    color: #999999;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease; }

.ls-hourly-wwir {
  color: #393939;
  font-size: 1.14286rem;
  padding: 10px 5px;
  margin-top: -15px; }
  @media only screen and (max-width: 767px) {
    .ls-hourly-wwir {
      padding-left: 15px; } }
  .ls-hourly-wwir .wwir-icon {
    float: left;
    font-size: 1.42857rem; }
  .ls-hourly-wwir .wwir-data {
    margin-left: 2em; }
