<link rel="stylesheet" type="text/css" href="/sass/modules/sun-moon.css">
<div class="sunmoon-mod">
    <header class="mod-header">Sun & Moon</header>
    <div class="mod-body">
        <ul class="sunmoon-list">
            <li>
                <span class="wx-iconfont-global wx-icon-sunrise sunmoon-icon"></span>
                <div class="list-element">
                    <span class="period-name">Sunrise</span>
                </div>
                <span id ="sunmoon-sunrise" class ="period-value"></span>
            </li>
            <li>
                <span class="wx-iconfont-global wx-icon-sunny sunmoon-icon"></span>
                <div class="list-element">
                    <span class="period-name">Solar Noon</span>
                </div>
                <span id ="sunmoon-noon" class ="period-value"></span>
            </li>

            <li>
                <span id="test" class="wx-iconfont-global wx-icon-sunset sunmoon-icon"></span>
                <div class="list-element">
                    <span class="period-name">Sunset</span>
                </div>
                <span id ="sunmoon-sunset" class ="period-value"></span>
            </li>
            <li>
                <span id = "sunmoon-moonphrase-icon" class="sunmoon-icon"></span>
                <div class="list-element">
                    <span class="period-name">Moonphase</span>
                </div>
                <span id ="sunmoon-moonphrase" class ="period-value"></span>
            </li>
            <li>
                <span class="wx-iconfont-moon moon-rise sunmoon-icon"></span>
                <div class="list-element">
                    <span class="period-name">Moonrise</span>
                </div>
                <span id ="sunmoon-moonrise" class ="period-value"></span>
            </li>
            <li>
                <span class="wx-iconfont-moon moon-set sunmoon-icon"></span>
                <div class="list-element">
                    <span class="period-name">Moonset</span>
                </div>
                <span id ="sunmoon-moonset" class ="period-value"></span>
            </li>
        </ul>
    </div>
</div>