.svg-icon {
//  position: relative;
//  height: 0;
//  padding: 0 0 100% 0;
//  > div {
//    position: absolute;
//    top: 0;
//    left: 0;
//    height: 100%;
//    width: 100%;
//    background-repeat: no-repeat;
//    background-size: 100%;
//    background-position: top left;
//  }
  img {
    border: none;
    width: 100%;
    height:auto;
  }
  img:active {
    border: none;
  }
}

.wx-icon-bg {
  background-color: rgba(255, 255, 255, 0.2);
}