<link rel="stylesheet" type="text/css" href="/templates/modules/static-map/static-map.css">
<div class="menu" onclick="menuShowHide()">
    <div id="menuTitle" class="menu-title">
        <span class="wx-iconfont-global wx-icon-arrow-down-2"></span>
    </div>
</div>
<ul id="menuDropdown" class="dropdown">
    <li onclick="addAMapLayer(0);_Metrics.clickTrack(this, 'map', 'map', 'todaymapRadar');" id="map-radar"></li>
    <li onclick="addAMapLayer(1);_Metrics.clickTrack(this, 'map', 'map', 'todaymapClouds');" id="map-clouds"></li>
    <li onclick="addAMapLayer(2);_Metrics.clickTrack(this, 'map', 'map', 'todaymapRadCloud');" id="map-radar-clouds"></li>
</ul>
<div class="static-map-container">
    <div class="static-map" style="height: 100%;"></div>
</div>