/* line 15, ../sass/wxicon.scss */
.svg-icon img {
  border: none;
  width: 100%;
  height: auto;
}
/* line 20, ../sass/wxicon.scss */
.svg-icon img:active {
  border: none;
}

.svg-cloud, .svg-stars {
  fill: #FFF;
}

.svg-fog-wave {
  stroke: #FFF;
}

.svg-moon {
  fill: #e6e6e6;
}

.svg-lightning {
  fill: #f2df00;
}

.svg-drop {
  fill: #6ec4e9;
}

.svg-sun {
  fill: #f9ed32;
}

.svg-snowflake {
  fill: #aaa;
  stroke: #aaa;
}
