<div class="vertical-wx-row">
    <!--Time-->
   Time:  <div class="time-td hourly-inline"></div>
    <!--Temp-->
   Temp:  <div class="temp-td hourly-inline"></div>
    <!--Feels-->
   Feels Like:  <div class="feels-td hourly-inline"></div>
    <!--Description-->
   Description:  <div class="description-td hourly-inline"></div>
    <!--Precip-->
   Chance of Precip:  <div class="precip-td hourly-inline"></div>
    <!--Humidity-->
   Humidity:  <div class="humidity-td hourly-inline"></div>
</div>