<link rel="stylesheet" type="text/css" href="/styles/modules/alert-bar/alert-bar.css">
<div class="gm_alerts hidden" id="gm_alerts">
  <div class="dropdown">
    <div class="priority" id="alert-priority-severity">
      <div class="dropdown" id="dropdown-multiple-alert">
        <button class="dropdown-toggle gma-text-color" onclick="alertDropdownClick()">
          <span class="wx-iconfont-global wx-icon-alert"></span>
          <span class="btn-caption" id="alert-count"></span>
          <span class="wx-iconfont-global wx-icon-arrow-down-2"></span>
          <span class="wx-iconfont-global wx-icon-arrow-up-2"></span>
        </button>
        <ul class="dropdown-menu list-group" id="multiple_alerts"></ul>
      </div>
      <div class="alerts.priority" id="alert-priority">
        <a class="alert-severity bg-alert-{{::alertInfo.severity}}">
          <div class="title text text-overflow">
            <span class="warning-text" id="priority-alert-description" data-ng-bind="::alertInfo.description"></span>
            <span class="timestamp" id="priority-alert-timestamp"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>